/* task 3 */
.values-table th{
  text-align: center;
}
.chart {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px auto;
  position: relative;
  list-style: none;
  padding: 0;
}
.bar {
  background: blue;
  position: absolute;
  bottom: 0;
}
.bar span {
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: rotate(-90deg) translateY(-50%);
    transform: rotate(-90deg) translateY(-50%);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    white-space: nowrap;
}
.bar:hover span {
    opacity: 1;
}
.y {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  bottom: 0;
  padding: 5px;
}
.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 5px;
}
.dot {
  background: blue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}
.dot span {
  display: none;
  position: absolute;
  top: -10px;
  left: 20px;
  background: red;
  color: white;
  border-radius: 3px;
  padding: 5px;
  white-space: nowrap;
  z-index: 9999;
}
.dot:hover span {
  display: block;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs{
    text-align: center;
    width: 400px;
    border: 1px solid black;
    padding: 10px 20px;
}

.tabs > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs > ul > li  {
  float: left;
  border: 1px solid #000;
  border-bottom-width: 0;
  margin: 3px 3px 0px 3px;
  padding: 5px 5px 0px 5px;
  background-color: #CCC;
  color: #696969;
}
.table-wrapper {
  border: 1px solid black;
  clear: both;

}
.active {
  background-color: #FFF;
  color: #000;
}
.table-wrapper, .graph-wrapper{  
  vertical-align: top;
  margin: 0 20px 20px 0;
}
.values-table{
  width: 100%;
}
.values-table th, .values-table td{
  width: 50%;
  border-bottom: 1px solid black;
}
.values-table th:first-child, .values-table td:first-child{
  border-right: 1px solid black;
}
.values-table tr:last-child td{
  border-bottom: 0;
}