<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test Angular</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
  <script src="app.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body ng-app="tablesDirective">
<div id="tabs" ng-controller="TabsCtrl">
	<ul>
	    <li ng-repeat="tab in tabs" 
	        ng-class="{active:isActiveTab(tab.url)}" 
	        ng-click="onClickTab(tab)">{{tab.title}}</li>
	</ul>
	<div id="mainView" class="table-wrapper">
	    <div ng-include="currentTab"></div>
	</div>
	<div class="graph-wrapper">
		<div graph></div>
	</div>
</div>
<script type="text/ng-template" id="one.tpl.html">
	<div id="viewOne">
		<div table></div>
	</div>
</script>
<script type="text/ng-template" id="two.tpl.html">
	<div id="viewTwo">
		<div table></div>
	</div>
</script>
</body>
</html>